absl-py==0.13.0
alabaster==0.7.12
asgiref==3.4.0
astunparse==1.6.3
atpublic==2.3
Babel==2.9.1
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
Django==3.2.11
docutils==0.17.1
dqn==0.2.0
flatbuffers==1.12
gast==0.4.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
image==1.5.33
imagesize==1.2.0
Jinja2==3.0.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.6.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mercurial==5.8
neat==0.4.1
nn==0.1.1
numpy==1.21.0
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
path==16.0.0
Pillow==9.0.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.15.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-dqndomain==0.1.0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.3
tensorflow-estimator==2.5.0
termcolor==1.1.0
torch==1.9.0
typing-extensions==3.7.4.3
urllib3==1.26.6
WebOb==1.8.7
Werkzeug==2.0.1
world==4.1.1
wrapt==1.12.1
